In [191]:
import pandas as pd
import numpy as np

In [192]:
df = pd.read_csv("assignment_4_salorno/salorno.csv")

In [193]:
df.head()

,Unnamed: 0,Unnamed: 1,day,sum,min_temp,max_temp,avg_temp,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,01.01.1993,0,-9.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,02.01.1993,0,-9.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,03.01.1993,0,-4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,04.01.1993,0,-9.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,05.01.1993,0,-5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
df = df[['day', 'min_temp', 'max_temp']]
df["avg_temp"] = np.around((df["min_temp"] + df["max_temp"] )/2, decimals=2)
df.head()

          day  min_temp  max_temp  avg_temp
0  01.01.1993      -9.0       1.0      -4.0
1  02.01.1993      -9.0      -1.0      -5.0
2  03.01.1993      -4.0       1.0      -1.5
3  04.01.1993      -9.0       0.0      -4.5
4  05.01.1993      -5.0       2.0      -1.5

In [195]:
df.index = pd.to_datetime(df['day'], format='%d.%m.%Y')

In [204]:
df.head()

                   day  min_temp  max_temp  avg_temp
day
1993-01-01  01.01.1993      -9.0       1.0      -4.0
1993-01-02  02.01.1993      -9.0      -1.0      -5.0
1993-01-03  03.01.1993      -4.0       1.0      -1.5
1993-01-04  04.01.1993      -9.0       0.0      -4.5
1993-01-05  05.01.1993      -5.0       2.0      -1.5

ogni colonna:
    un mese gennaio - dicembre
ogni riga:
    temperature di ogni gg (30 valori)

In [232]:
years = [1993, 1997, 2001, 2005, 2009, 2013, 2017, 2021]
data_min_dict = {'year':[]}
data_max_dict = {'year':[]}
for y in years:
    counter = 31
    while counter != 0:
        data_min_dict['year'].append(y)
        data_max_dict['year'].append(y)
        counter -= 1

for x in range(1,13):
    data_min_dict[x] = []
    data_max_dict[x] = []

In [234]:
for row in df.iterrows():
    date = row[0]
    if date.year not in years:
        continue
    tmin = row[1][1]
    tmax = row[1][2]
    data_min_dict[date.month].append(tmin)
    data_max_dict[date.month].append(tmax)

In [235]:
# filling with nan all the missing values
for m in range(2, 13):
    len_d = len(data_min_dict[m])
    while len_d != 248:
        data_min_dict[m].append('None')
        len_d = len(data_min_dict[m])

for m in range(2, 13):
    len_d = len(data_max_dict[m])
    while len_d != 248:
        data_max_dict[m].append('None')
        len_d = len(data_max_dict[m])

In [236]:
df_min = pd.DataFrame(data_min_dict)
df_max = pd.DataFrame(data_max_dict)
df_min.rename(columns={1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}, inplace=True)
df_max.rename(columns={1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}, inplace=True)

In [228]:
df_min.head()

   year  Jan  Feb  Mar  Apr   May   Jun   Jul   Aug  Sept   Oct  Nov  Dec
0  1993 -9.0 -3.0  1.0 -1.0   6.0  13.0  15.0  13.0   9.0  11.0  4.0 -3.0
1  1993 -9.0 -4.0  1.0  6.0   7.0  14.0  16.0  17.0   9.0   9.0  8.0 -2.0
2  1993 -4.0 -2.0  1.0  6.0   7.0  13.0  17.0  16.0  11.0   9.0  7.0 -1.0
3  1993 -9.0 -3.0  0.0  4.0  10.0  13.0  14.0  17.0   8.0   6.0  6.0 -2.0
4  1993 -5.0 -4.0 -1.0  6.0   9.0  10.0  16.0  20.0   6.0   4.0  9.0 -2.0

In [229]:
df_max.head()

   year  Jan  Feb   Mar   Apr   May   Jun   Jul   Aug  Sept   Oct   Nov  Dec
0  1993  1.0  7.0   5.0  17.0  18.0  29.0  29.0  32.0  28.0  16.0  10.0  4.0
1  1993 -1.0  6.0   8.0  19.0  22.0  32.0  29.0  32.0  25.0  12.0  12.0  4.0
2  1993  1.0  7.0   9.0  15.0  23.0  21.0  30.0  35.0  22.0  18.0  15.0  7.0
3  1993  0.0  8.0  10.0  12.0  26.0  27.0  32.0  34.0  17.0  19.0  14.0  3.0
4  1993  2.0  6.0   7.0  20.0  26.0  31.0  31.0  33.0  26.0  17.0  12.0  7.0

In [230]:
df_min.tail(30)

     year  Jan  Feb  Mar   Apr   May   Jun   Jul   Aug  Sept   Oct  Nov  Dec
218  2021 -0.6  3.9  1.0   1.5  11.6  16.4  15.1  15.7  13.9  11.4  1.9  2.8
219  2021  0.6  5.9  1.3   7.8   8.7  18.7  18.0  14.8  12.4  14.3  6.2 -1.1
220  2021  0.6  5.9  1.2   7.8  10.6  17.3  17.2  16.1  14.0  15.1  6.2 -0.3
221  2021 -0.7  5.9  2.0   4.3   9.1  13.8  17.0  16.0  14.4  14.4  4.7  1.3
222  2021  0.0  5.8  4.1   4.2   9.8  16.1  15.3  15.3  14.0  13.1  4.2  1.9
223  2021 -3.5  3.3 -0.6   4.3  14.0  14.7  18.7  16.9  14.1  14.5  8.2 -1.2
224  2021 -4.5  NaN -0.3   2.1  10.0  20.1  18.3  17.9  14.9  12.2  8.0 -1.5
225  2021 -4.6  NaN  1.1   2.1   8.1  17.3  17.7  17.4  18.3  10.5  5.2 -1.3
226  2021 -6.3  NaN  0.3   2.2  12.3  18.8  16.6  15.2  17.6   6.3  6.0 -5.7
227  2021 -8.7  NaN  1.8   6.6  12.7  23.4  18.7  17.2  17.3   6.0  4.7 -0.4
228  2021 -9.4  NaN  5.5   5.4  11.6  20.6  16.2  17.2  14.7   6.3  3.4 -1.1
229  2021 -7.6  NaN  1.6   4.0  10.3  20.1  17.1  18.9  13.2   4.9  2.4 -0.3
230  2021 -3.9  NaN  3.6   6.6  11.5  21.4  16.0  19.4  12.5   2.6  1.0  0.6
231  2021 -0.2  NaN -0.7   7.2  11.1  19.5  14.4  19.7  12.5   2.4  6.7 -0.3
232  2021 -4.7  NaN  5.5   6.6   8.4  16.9  15.6  16.9  12.5   3.8  2.6 -2.1
233  2021 -5.4  NaN  0.8   9.6  10.1  17.0  17.1  16.2  11.1   4.4  0.2 -1.2
234  2021 -6.9  NaN  2.5   7.7   7.0  15.9  18.4  15.0  12.0   4.7 -0.6 -2.9
235  2021 -5.4  NaN -1.2  12.2  11.3  17.0  20.4  16.4  14.3   5.6  3.4 -1.8
236  2021 -4.1  NaN -0.8  11.1   7.4  17.6  17.0  16.7  15.5   4.7  4.9 -1.9
237  2021  0.1  NaN -1.5   9.5   8.9  18.0  18.0  16.0  13.7  12.2  1.8 -3.0
238  2021  0.5  NaN  8.4  12.2  11.1  20.9  17.7  17.6  14.4   9.3  3.1 -3.9
239  2021  0.8  NaN  4.8  12.4  11.3  17.4  17.0  16.1  14.0   6.5 -2.3 -4.2
240  2021  0.7  NaN  1.1   NaN  10.7   NaN  20.5  13.1   NaN   4.2  NaN -1.8
241  2021 -0.9  NaN  2.1   NaN   9.0   NaN  18.7  15.0   NaN   3.8  NaN  1.8
242  2021 -1.9  NaN  4.3   NaN   7.8   NaN  17.6  16.1   NaN   3.9  NaN -0.8
243  2021 -3.5  NaN  8.8   NaN  10.8   NaN  17.7  16.0   NaN   3.1  NaN  2.3
244  2021 -1.8  NaN  7.6   NaN   8.4   NaN  17.1  12.7   NaN   4.1  NaN  2.7
245  2021 -2.5  NaN  9.3   NaN  11.6   NaN  17.4   9.6   NaN   3.9  NaN  0.6
246  2021 -1.5  NaN  6.1   NaN   8.6   NaN  17.7  12.8   NaN   1.7  NaN  3.2
247  2021  2.4  NaN  9.1   NaN  14.1   NaN  18.9  10.5   NaN   6.9  NaN  3.9

In [237]:
df_min.to_csv('data/ass_4_ridgeline_min.csv')
df_max.to_csv('data/ass_4_ridgeline_max.csv')