In [1]:
import geopandas as gpd
import pandas as pd 
#pd.set_option("display.max_rows", None)

In [21]:
circo_df = gpd.read_file("data/circoscrizioni.json")
circo_df = circo_df[['numero_cir', 'nome', 'area', 'geometry']]
circo_df.head()

,numero_cir,nome,area,geometry
0,2,MEANO,15712181,"POLYGON ((11.15678 46.11661, 11.15687 46.11666..."
1,3,BONDONE,36949609,"POLYGON ((11.08026 46.11571, 11.08026 46.11571..."
2,4,SARDAGNA,8663138,"POLYGON ((11.09034 46.07917, 11.09032 46.07899..."
3,6,ARGENTARIO,13199398,"POLYGON ((11.17163 46.08095, 11.17161 46.08106..."
4,11,S.GIUSEPPE-S.CHIARA,3073349,"POLYGON ((11.11135 46.05878, 11.11137 46.05878..."

In [22]:
circo_geometry_col = circo_df["geometry"]
circo_geometry_col

0     POLYGON ((11.15678 46.11661, 11.15687 46.11666...
1     POLYGON ((11.08026 46.11571, 11.08026 46.11571...
2     POLYGON ((11.09034 46.07917, 11.09032 46.07899...
3     POLYGON ((11.17163 46.08095, 11.17161 46.08106...
4     POLYGON ((11.11135 46.05878, 11.11137 46.05878...
5     POLYGON ((11.18467 46.02957, 11.18467 46.02957...
6     POLYGON ((11.11591 45.98873, 11.11597 45.98890...
7     POLYGON ((11.11591 45.98873, 11.11644 45.98845...
8     POLYGON ((11.15706 46.01669, 11.15723 46.01684...
9     POLYGON ((11.11723 46.04331, 11.11754 46.04306...
10    POLYGON ((11.11614 46.10914, 11.11606 46.10909...
11    POLYGON ((11.12826 46.07593, 11.12802 46.07610...
Name: geometry, dtype: geometry

In [23]:
circo_area_col = circo_df["area"]
circo_area_col

0     15712181
1     36949609
2      8663138
3     13199398
4      3073349
5     15433274
6     16687779
7     16409555
8      7342864
9      6962104
10     8817959
11     8599464
Name: area, dtype: int64

In [24]:
tree_df = gpd.read_file("data/geo_data_trees.geo.json")
tree_df.head()

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
0,1.0,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
1,2.0,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
2,3.0,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
3,4.0,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
4,7.0,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)

In [26]:
tree_df = tree_df[['Tree ID', 'Canopy Cover (m2)', 'Oxygen Production (kg/yr)', 'geometry']]
tree_df.head()

,Tree ID,Canopy Cover (m2),Oxygen Production (kg/yr),geometry
0,1.0,1.8,2.8,POINT (11.07201 46.05160)
1,2.0,1.8,3,POINT (11.07211 46.05154)
2,3.0,1.8,3.4,POINT (11.07196 46.05167)
3,4.0,4.9,4.3,POINT (11.15017 46.06378)
4,7.0,1.8,29.5,POINT (11.07155 46.05230)

In [33]:
def get_circoscrizione(tree_point):
    for idx_polygon, polygon in circo_geometry_col.items():
        if tree_point == None: return "None"
        if tree_point.within(polygon):
            return  circo_df['nome'][idx_polygon]

In [36]:
def get_area():
    for idx_polygon, polygon in circo_geometry_col.items():
        if tree_point == None: return "None"
        if tree_point.within(polygon):
            return  circo_df['nome'][idx_polygon]

In [37]:
tree_df2 = tree_df.copy()
tree_df2['circoscrizione'] = ""
tree_df2['circoscrizione']= tree_df2['geometry'].map(get_circoscrizione)

tree_df2.head()

,Tree ID,Canopy Cover (m2),Oxygen Production (kg/yr),geometry,circoscrizione
0,1.0,1.8,2.8,POINT (11.07201 46.05160),SARDAGNA
1,2.0,1.8,3,POINT (11.07211 46.05154),SARDAGNA
2,3.0,1.8,3.4,POINT (11.07196 46.05167),SARDAGNA
3,4.0,4.9,4.3,POINT (11.15017 46.06378),POVO
4,7.0,1.8,29.5,POINT (11.07155 46.05230),SARDAGNA

In [ ]:
tree_df2['area'] = ""
tree_df2['area']= tree_df2['circoscrizione'].map(get_area)

tree_df2.head()

In [40]:
tree_df4 = tree_df2.copy()
tree_df4['count'] = tree_df4.groupby(['circoscrizione'])['circoscrizione'].transform('count')
tree_df4['density'] = tree_df4.groupby(['circoscrizione'])['Canopy Cover (m2)'].transform('sum')

tree_df4 = tree_df4.drop(["geometry", "area"], axis=1)
tree_df4 = tree_df4.drop_duplicates()
tree_df4 = tree_df4.sort_values(by='circoscrizione', ascending=True)

tree_df4

,Tree ID,Canopy Cover (m2),Oxygen Production (kg/yr),circoscrizione,count,density
11578,14449.0,3.1,11.3,ARGENTARIO,454,38.51.81.87.112.67.119.650.350.33.112.6176.763...
9399,12229.0,12.6,5.8,ARGENTARIO,454,38.51.81.87.112.67.119.650.350.33.112.6176.763...
9400,12230.0,12.6,6,ARGENTARIO,454,38.51.81.87.112.67.119.650.350.33.112.6176.763...
9401,12231.0,12.6,6,ARGENTARIO,454,38.51.81.87.112.67.119.650.350.33.112.6176.763...
9402,12232.0,12.6,6,ARGENTARIO,454,38.51.81.87.112.67.119.650.350.33.112.6176.763...
...,...,...,...,...,...,...
426,1297.0,7.1,8.800000000000001,VILLAZZANO,416,1.83.17.17.17.119.67.17.19.64.94.94.93.17.17.1...
427,1298.0,7.1,5.9,VILLAZZANO,416,1.83.17.17.17.119.67.17.19.64.94.94.93.17.17.1...
428,1299.0,7.1,8.800000000000001,VILLAZZANO,416,1.83.17.17.17.119.67.17.19.64.94.94.93.17.17.1...
12248,15138.0,12.6,0.7,VILLAZZANO,416,1.83.17.17.17.119.67.17.19.64.94.94.93.17.17.1...
9285,12114.0,7.1,5.1,VILLAZZANO,416,1.83.17.17.17.119.67.17.19.64.94.94.93.17.17.1...

## Export to GeoJson
https://geoffboeing.com/2015/10/exporting-python-data-geojson/


informazioni da raccogliere su ogni tree id
* tree id chiave
* dedurre circoscrfizione di appartenenza (gia fatto nel primo preprocessing)
* num trees
* Canopy
* Area 
* (density)
* Oxygen prod

info da raccogliere da tabella circoscrizioni
* poligono (per generare mappa geografica)
* dedurre area in metri quadri (geopandas)