In [1]:
!git clone https://github.com/IncapacheSpark/IncapacheSpark.github.io

Cloning into 'IncapacheSpark.github.io'...
remote: Enumerating objects: 1131, done.
remote: Counting objects: 100% (374/374), done.
remote: Compressing objects: 100% (239/239), done.
remote: Total 1131 (delta 216), reused 278 (delta 132), pack-reused 757
Receiving objects: 100% (1131/1131), 3.84 MiB | 5.38 MiB/s, done.
Resolving deltas: 100% (606/606), done.

In [73]:
import pandas as pd
import numpy as np

In [74]:
#df = pd.read_csv("/content/IncapacheSpark.github.io/python/assignment_4_salorno/salorno.csv")
df = pd.read_csv("salorno.csv")
df = df.astype({"min_temp":"float", "max_temp":"float" })
df = df[["day", "min_temp", "max_temp"]]

In [75]:
df

              day  min_temp  max_temp
0      01.01.1993      -9.0       1.0
1      02.01.1993      -9.0      -1.0
2      03.01.1993      -4.0       1.0
3      04.01.1993      -9.0       0.0
4      05.01.1993      -5.0       2.0
...           ...       ...       ...
10566  27.12.2021       2.3       6.0
10567  28.12.2021       2.7       6.3
10568  29.12.2021       0.6      10.7
10569  30.12.2021       3.2       9.9
10570  31.12.2021       3.9      11.5

[10571 rows x 3 columns]

In [76]:
df["avg_temp"] = np.around((df["min_temp"] + df["max_temp"] )/2, decimals=2)

In [77]:
df.index = pd.to_datetime(df['day'], format='%d.%m.%Y')
# df.groupby(pd.Grouper(freq='M'))

In [78]:
df = df[["min_temp", "max_temp", "avg_temp"]]
df

            min_temp  max_temp  avg_temp
day
1993-01-01      -9.0       1.0     -4.00
1993-01-02      -9.0      -1.0     -5.00
1993-01-03      -4.0       1.0     -1.50
1993-01-04      -9.0       0.0     -4.50
1993-01-05      -5.0       2.0     -1.50
...              ...       ...       ...
2021-12-27       2.3       6.0      4.15
2021-12-28       2.7       6.3      4.50
2021-12-29       0.6      10.7      5.65
2021-12-30       3.2       9.9      6.55
2021-12-31       3.9      11.5      7.70

[10571 rows x 3 columns]

In [79]:
years = [1993, 1997, 2001, 2005, 2009, 2013, 2017, 2021]
filtered_df = df[df.index.year.isin(years)]

In [80]:
filtered_df

            min_temp  max_temp  avg_temp
day
1993-01-01      -9.0       1.0     -4.00
1993-01-02      -9.0      -1.0     -5.00
1993-01-03      -4.0       1.0     -1.50
1993-01-04      -9.0       0.0     -4.50
1993-01-05      -5.0       2.0     -1.50
...              ...       ...       ...
2021-12-27       2.3       6.0      4.15
2021-12-28       2.7       6.3      4.50
2021-12-29       0.6      10.7      5.65
2021-12-30       3.2       9.9      6.55
2021-12-31       3.9      11.5      7.70

[2920 rows x 3 columns]

In [81]:
filtered_df.index = filtered_df.index.to_period('M')

In [82]:
filtered_df_2 = filtered_df.groupby(filtered_df.index).min()
filtered_df_2

         min_temp  max_temp  avg_temp
day
1993-01      -9.0      -1.0     -5.00
1993-02      -6.0       2.0     -0.50
1993-03      -5.0       5.0      3.00
1993-04      -1.0      11.0      8.00
1993-05       6.0      18.0     12.00
...           ...       ...       ...
2021-08       9.6      20.9     16.05
2021-09      11.1      19.5     16.00
2021-10       1.7      12.1      7.40
2021-11      -2.3       3.5      0.60
2021-12      -5.7       1.7     -2.00

[96 rows x 3 columns]

In [83]:
filtered_df_2['max_temp'] = filtered_df.groupby(filtered_df.index).max()['max_temp']
filtered_df_2['avg_temp'] = np.around(filtered_df.groupby(filtered_df.index).mean()['avg_temp'], decimals=2)
filtered_df_2

         min_temp  max_temp  avg_temp
day
1993-01      -9.0      12.0      0.44
1993-02      -6.0      11.0      1.64
1993-03      -5.0      27.0      8.00
1993-04      -1.0      30.0     13.18
1993-05       6.0      34.0     17.98
...           ...       ...       ...
2021-08       9.6      32.9     21.39
2021-09      11.1      29.7     19.58
2021-10       1.7      22.0     11.95
2021-11      -2.3      14.1      7.14
2021-12      -5.7      11.5      2.84

[96 rows x 3 columns]

In [84]:
filtered_df_2.to_csv('/content/IncapacheSpark.github.io/python/data/assignment4.csv')

OSError: Cannot save file into a non-existent directory: '\content\IncapacheSpark.github.io\python\data'

# CSV per Ridgeline chart

In [96]:
df3 = df[df.index.year.isin(years)]
df3

            min_temp  max_temp  avg_temp
day
1993-01-01      -9.0       1.0     -4.00
1993-01-02      -9.0      -1.0     -5.00
1993-01-03      -4.0       1.0     -1.50
1993-01-04      -9.0       0.0     -4.50
1993-01-05      -5.0       2.0     -1.50
...              ...       ...       ...
2021-12-27       2.3       6.0      4.15
2021-12-28       2.7       6.3      4.50
2021-12-29       0.6      10.7      5.65
2021-12-30       3.2       9.9      6.55
2021-12-31       3.9      11.5      7.70

[2920 rows x 3 columns]

In [88]:
#df3['month_year'] = df3.index.to_period('M')
df3

C:\Users\robyd\AppData\Local\Temp\ipykernel_4372\1794393636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['month_year'] = df3.index.to_period('M')

            min_temp  max_temp  avg_temp month_year
day
1993-01-01      -9.0       1.0     -4.00    1993-01
1993-01-02      -9.0      -1.0     -5.00    1993-01
1993-01-03      -4.0       1.0     -1.50    1993-01
1993-01-04      -9.0       0.0     -4.50    1993-01
1993-01-05      -5.0       2.0     -1.50    1993-01
...              ...       ...       ...        ...
2021-12-27       2.3       6.0      4.15    2021-12
2021-12-28       2.7       6.3      4.50    2021-12
2021-12-29       0.6      10.7      5.65    2021-12
2021-12-30       3.2       9.9      6.55    2021-12
2021-12-31       3.9      11.5      7.70    2021-12

[2920 rows x 4 columns]

In [97]:
df3 = df3.groupby(["month_year"])['avg_temp'].apply(list)
df3

KeyError: 'month_year'