In [112]:
import pandas as pd
import numpy as np

In [113]:
df = pd.read_csv("salorno.csv")
df = df.astype({"min_temp":"float", "max_temp":"float" })
df = df[["day", "min_temp", "max_temp"]]

In [114]:
df["avg_temp"] = np.around((df["min_temp"] + df["max_temp"] )/2, decimals=2)
df['year'] = df['day'].str[-4:]
df['month_year'] = df['day'].str[3:10]

years_to_save = ["1993", "1997", "2001", "2005", "2009", "2013", "2017", "2021"]
df = df.apply(lambda row: row[df['year'].isin(years_to_save)])

df

              day  min_temp  max_temp  avg_temp  year month_year
0      01.01.1993      -9.0       1.0     -4.00  1993    01.1993
1      02.01.1993      -9.0      -1.0     -5.00  1993    01.1993
2      03.01.1993      -4.0       1.0     -1.50  1993    01.1993
3      04.01.1993      -9.0       0.0     -4.50  1993    01.1993
4      05.01.1993      -5.0       2.0     -1.50  1993    01.1993
...           ...       ...       ...       ...   ...        ...
10566  27.12.2021       2.3       6.0      4.15  2021    12.2021
10567  28.12.2021       2.7       6.3      4.50  2021    12.2021
10568  29.12.2021       0.6      10.7      5.65  2021    12.2021
10569  30.12.2021       3.2       9.9      6.55  2021    12.2021
10570  31.12.2021       3.9      11.5      7.70  2021    12.2021

[2920 rows x 6 columns]

In [115]:
df['sum_temp_month'] = df.groupby(['month_year'])['avg_temp'].transform('sum')
df['length_of_month'] = df.groupby(['month_year'])['month_year'].transform('count')
df['monthly_temp'] = df['sum_temp_month'] / df['length_of_month']
df = df[['monthly_temp', 'month_year'
df.to_csv('line_chart_dataset.csv')
df

,day,min_temp,max_temp,avg_temp,year,month_year,sum_temp_month,length_of_month,monthly_temp
0,01.01.1993,-9.0,1.0,-4.00,1993,01.1993,13.50,31,0.435484
1,02.01.1993,-9.0,-1.0,-5.00,1993,01.1993,13.50,31,0.435484
2,03.01.1993,-4.0,1.0,-1.50,1993,01.1993,13.50,31,0.435484
3,04.01.1993,-9.0,0.0,-4.50,1993,01.1993,13.50,31,0.435484
4,05.01.1993,-5.0,2.0,-1.50,1993,01.1993,13.50,31,0.435484
...,...,...,...,...,...,...,...,...,...
10566,27.12.2021,2.3,6.0,4.15,2021,12.2021,88.05,31,2.840323
10567,28.12.2021,2.7,6.3,4.50,2021,12.2021,88.05,31,2.840323
10568,29.12.2021,0.6,10.7,5.65,2021,12.2021,88.05,31,2.840323
10569,30.12.2021,3.2,9.9,6.55,2021,12.2021,88.05,31,2.840323
10570,31.12.2021,3.9,11.5,7.70,2021,12.2021,88.05,31,2.840323